@model IEnumerable<PokemonIndex.Models.Pokemon>
@{
    ViewBag.Title = "Index";
}

<h2>Pokemon Lookup</h2>
<p>Use this search tool to find pokemon you want to know more about.</p>

<form asp-controller="Pokedex" asp-action="Index">
    <p>
        Pokemon Name: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>
