@using PokemonIndex.Models
@{
    ViewBag.Title = "Index";
}

<h2>Pokemon Lookup</h2>
<p>Use this search tool to find pokemon you want to know more about.</p>

<form asp-controller="Pokedex" asp-action="IndexResult">
    <p>
        Pokemon Name: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>
<form asp-controller="Pokedex" asp-action="ResultByType">
    @Html.DropDownList("id",
                    new SelectList(Enum.GetValues(typeof(TypeEnum))),
                    "Select Type",
                    new { @class = "form-control" })
    <input type="submit" value="Filter by Type" />
    @Html.ActionLink("Search By Type", 
    "ResultByType", 
    "Pokedex", new { pokemonType = (int)TypeEnum.Grass }, new { @class = "btn" })

</form>
