@model PokemonIndex.Models.Pokedex
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<form asp-controller="Pokedex" asp-action="Index">
    <p>
        Pokemon Name: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            Pokemon Id
        </th>
        <th>
            Name
        </th>
        <th>
            Pokedex Entry
        </th>
        <th>
            Evolution
        </th>
    </tr>

    @foreach (var item in Model.Pokemon1)
    {
        <tr>
            <td>
                @item.PokemonId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.PokedexEntry
            </td>
            <td>
                @foreach(var p2 in Model.Pokemon2)
                {
                    var evolvefrom = Model.Evolutions.Where(c => c.EvolveFromId.Equals(item.PokemonId)).FirstOrDefault();
                    if (p2.PokemonId.Equals(evolvefrom.EvolveToId))
                    {
                        @p2.Name
                    }
                }
            </td>

        </tr>

    }
</table>