
@{
    ViewBag.Title = "Index";
}

<h2>Trainer</h2>
<p>Use this search tool to find trainers you want to know more about.</p>

<form asp-controller="Trainer" asp-action="Index">
    <p>
        Pokemon Name: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>